	../.DS_Store
	../cleaning-data/
	../exploratory-data-analysis/
	../ggplot2-stats-coordinates-facets/
	../intro-statistics/
	../introduction-to-markdown/
	../linear-regression/
	../read-files/
	../unsupervised-learning/
